@font-face {
  font-family: Raleway;
  src: url(Raleway.ttf) format("truetype");
  font-display: swap
}
@font-face {
  font-family: Mulish;
  src: url(Mulish.ttf) format("truetype");
  font-display: swap
}
